* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PP mori';
}

.main {
    height: calc(100vh - 6vw);
    width: 100%;
    display: flex;
    color: white;

}
.mainleft{
    width: 40%;
    height: 100%;
    /* background: orangered; */
}

.mainleft h2{
    font-size: 3vw;
}
.mainleft img{
    height: 30vw;
    width: 30vw;
}

.mainright {
    padding: 7vw 5vw;
    width: 60%;
    height: 100%;
    /* background: greenyellow; */
}

.mainright label{
    margin-top: .5vw;
    display: block;
    text-transform: capitalize;
}

.mainright input{
    margin-top: 1vw;
    border-radius: 4px;
    border: transparent;
    height: 2.3vw;
    width: 30vw; 
    background-color: rgb(200, 194, 194);
}

.message textarea{
    background-color: rgb(200, 194, 194);
    margin-top: 1vw;
    height: 10vw; 
    border-radius: 4px;
    border: transparent;
    height: 2.3vw;
    width: 30vw;
}

.submit{
    background: rgb(107, 107, 228);
        color: white;
        padding: 0.8vw 1.3vw;
        margin-top: 1vw;
        border-radius: 10px;
        border: none;
}

